div#wait{
	background-color: #ccc6;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
}

div#wait img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

select#wallet_select {
	display: none;
}

