{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'staking/css/pico.min.css' %}">
		<link rel="stylesheet" href="{% static 'staking/css/style.css' %}">
		<script src="{% static 'staking/js/main.js' %}" defer></script>
		<title>View Pools</title>
	</head>
	<body>
		<div id="wait"><img src="{% static 'staking/img/spinner.gif' %}"></div>
		<main class="container">
			<nav>
				<ul>
					<li>
						<strong>Staking Demo</strong>
					</li>
				</ul>
				<ul>
					<li><a href="/">View Pools</a></li>
					<li><a href="/new_asset">Create Asset</a></li>
					<li><a href="/new_pool">Create Pool</a></li>
				</ul>
			</nav>
			<h1>View Pools</h1>
			<button id="connect">Connect Wallet</button>
			<select id="wallet_select"></select>
			<a id="balance" class="secondary"></a>
			<hr>
			<table>
				<tr>
					<th>Pool ID</th>
					<th>Staking Asset</th>
					<th>Reward Asset</th>
					<th>Details</th>
					<th>APR</th>
				</tr>
				{% for p in pools %}
					<tr>
						<td><a href="{% url 'pool' p.id %}">{{ p.id }}</a></td>
						<td>{{ p.staking_asset.params.name }}</td>
						<td>{{ p.reward_asset.params.name }}</td>
						<td>{{ p.duration }}</td>
						<td>{{ p.rate }}</td>
					</tr>
				{% endfor %}
			</table>
		</main>
	</body>
</html>
