{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'staking/css/pico.min.css' %}">
		<link rel="stylesheet" href="{% static 'staking/css/style.css' %}">
		<script src="{% static 'staking/js/main.js' %}" defer></script>
		<title>Create Pool</title>
	</head>
	<body>
		<div id="wait"><img src="{% static 'staking/img/spinner.gif' %}"></div>
		<main class="container">
			<nav>
				<ul>
					<li>
						<strong>Staking Demo</strong>
					</li>
				</ul>
				<ul>
					<li><a href="/">View Pools</a></li>
					<li><a href="/new_asset">Create Asset</a></li>
					<li><a href="/new_pool">Create Pool</a></li>
				</ul>
			</nav>
			<h1>Create Pool</h1>
			<button id="connect">Connect Wallet</button>
			<select id="wallet_select"></select>
			<a id="balance" class="secondary"></a>
			<hr>
			<label for="staking_asset_id">Staking Asset ID:
				<input type="number" id="staking_asset_id" name="staking_asset_id"></input>
			</label>
			<br>
			<label for="reward_asset_id">Reward Asset ID:
				<input type="number" id="reward_asset_id" name="reward_asset_id"></input>
			</label>
			<br>
			<label for="fixed_rate">Fixed Rate (Percentage):
				<input type="number" id="fixed_rate" name="fixed_rate" min=0.01 max=100000 step=0.01 value="1.00"></input>
				<small>Default: 1.00%</small>
			</label>
			<br>
			<label for="begin_timestamp">Begin:
				<input type="datetime-local" id="begin_timestamp" name="begin_timestamp"></input>
			</label>
			<br>
			<label for="end_timestamp">End:
				<input type="datetime-local" id="end_timestamp" name="end_timestamp"></input>
			</label>
			<br>
			<button id="create_pool">Create</button>
		</main>
	</body>
</html>
